body {
    margin: 0;
    font-family: Arial;
  }
/* Topnav Topnav Topnav Topnav */
.topnav {
    overflow: hidden;
    background-color: #2C3333;
  }

  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
  }

  .topnav a.split {
    float: right;
    background-color: #2C3333;
    color: white;
    font-weight: bold;
  }

  .topnav a:hover {
    background-color: #394242;
  }
/* Dropdown Dropdown Dropdown Dropdown */
.navbar, .dropbtn, .dropdown, .dropdown-content {
    display: none;
   }
  /* Titles Titles Titles Titles */
  .headTitle {
    background-color: #395B64;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    margin: 0;
    font-size: 5vw;
  }

  .subTitle {
    background-color: #A5C9CA;
    text-align: center;
    padding: 3px;
    color: #395B64;
    margin: 0px;
    font-size: 22px;
  }

  .pageTitle1 {
    float: center;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
  }
  .pageTitle2 {
    float: center;
    text-align: center;
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
  .pageTitle3 {
    float: center;
    text-align: center;
    font-size: 60px;
    color: black;
    font-style: bold;
  }
/* Bodies Bodies Bodies Bodies */
  .bodies1 {
    font-size: 22px;
    margin: 2% 15%;
    text-align: left;
  }
  .bodies2 {
    font-size: 22px;
    margin: 0% 10%;
    text-align: center;
    word-wrap: break-word;
  }
  .bodies3 {
    font-size: 28px;
    margin: 2% 15%;
    text-align: center;
  }
/* Language Button Language Button Language Button Language Button */
  .block {
    display: block;
    width: auto;
    border: none;
    background-color: #395B64;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    margin: 3% 25% 3% 25%;
    text-decoration: none;
  }

  .block:hover {
    background-color: #3e646e;
    color: white;
  }
/* Language Tabs Language Tabs Language Tabs Language Tabs */
  .tab button {
    background-color: #395B64;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    width: 33.3333%;
    margin: 0 0;
    color: white;
    font-size: 22px
  }

  .tab button:hover {
    background-color: #3e646e;
    color: white;
  }

  .tab button.active {
    background-color: #528491;
  }

  .tabcontent {
    display: none;
    padding: none;
    border: none;
    border-top: none;
  }
  /* Accordion Accordion Accordion Accordion*/
  .accordion {
    background-color: #2C3333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0px;
    font-size: 22px;
  }


  .accordion:hover {
    background-color: #394242;
    color: white;
  }

  .accordion .active {
    background-color: #2C3333;
    color: white;
  }


  .panel {
    padding: 0px 18px;
    background-color: #d9d9d9;
    display: none;
    overflow: hidden;
    font-size: 22px;
    margin: 0px;
    word-wrap: break-word;
  }
/* Programming Example Programming Example Programming Example Programming Example */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
/* Media Max Width Media Max Width Media Max Width Media Max Width Media Max Width Media Max Width Media Max Width Media Max Width */
  @media screen and (max-width: 800px) {

/* Topnav Topnav Topnav Topnav */
.topnav a {
    display: none;
  }
  .topnav a.split {
      display: none;
  }
/* Dropdown Dropdown Dropdown Dropdown */
  .navbar {
    display: block;
    overflow: hidden;
    background-color: #2C3333;
  }
  
  .navbar a {
    float: left;
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .dropdown {
    display: block;
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    display: block;
    cursor: pointer;
    font-size: 22px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100px;
    font-weight: bold;
    background-color: #2C3333;
  }
  
  .navbar a:hover, .dropbtn:hover, .dropbtn:focus {
    background-color: #394242;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #424c4c;
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    float: none;
    color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 80px;
    font-weight: bold;
  }
  
  .dropdown-content a:hover {
    background-color: #535f5f;
  }
  
  .show {
    display: block;
  }
/* Titles Titles Titles Titles */
    .headTitle {
        padding: 10px 10px;
        font-size: 50px;
      }
    .pageTitle1 {
      font-size: 25px;
      margin: 4% 6%;
    }
    .pageTitle2 {
        font-size: 30px;
      }
    .pageTitle3 {
        font-size: 30px;
    }
/* Bodies Bodies Bodies Bodies */
    .bodies1 {
      
      margin-left: 6%;
      margin-right: 6%;
    }
    .bodies2 {
        margin: 0% 6%;
        width: 88%;
      }
    .bodies3 {
        font-size: 24px;
        margin: 2% 6%;
    }
/* Language Button Language Button Language Button Language Button */
    .block {
      padding: 8px 20px;
      font-size: 18px;
      margin: 5% 25% 5% 25%;
    }

/* Accordion Accordion Accordion Accordion*/
  .accordion {
    padding: 15px;
  }
  .panel {
    padding: 0px 15px;
  }
/* Programming Example Programming Example Programming Example Programming Example */
  .center {
    width: 94%;
  }
  }